body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  text-align: center;
}
.membership-plans {
  padding: 20px;
}
.membership-plans h1 {
  font-size: 2rem;
  color: #7c7575;
}
.membership-plans p {
  color: #555;
  margin-bottom: 20px;
}
.plans-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.plan-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.plan-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #6a6464;
}
.plan-card .price {
  font-size: 1.2rem;
  color: #ff0000;
  margin: 10px 0;
}
.plan-card ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
}
.plan-card ul li {
  margin: 5px 0;
  color: #333;
}
.plan-card button {
  background-color:#256ae9;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.plan-card button:hover {
  background-color: #e6d9d1;
  color: black;
}
.current-plan {
  padding: 20px;
}
.current-plan h1 {
  font-size: 2rem;
  color: #7c7575;
}
.current-plan p {
  color: #555;
  margin-bottom: 20px;
}
.plan-details {
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.plan-header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.plan-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #535e68;
}
.plan-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
.detail-item {
  width: 150px;
  text-align: center;
}
.detail-item h3 {
  font-size: 1rem;
  color: #7c7575;
  margin-bottom: 5px;
}
.detail-item p {
  margin: 5px 0;
  color: #333;
}
.detail-item .remaining {
  color: #ff4a4a;
  font-weight: bold;
}
.current-plan {
  display: none;
}
